db/
app/vendor/
web/bundles/
core
.idea/
.web-server-pid
app/var
app/web/build/
app/node_modules/
app/yarn-error.log
app/yarn.lock
app/composer.lock
app/supervisord.log
app/supervisord.pid
web/front/assets/js/assets.js
piwik/
travis.yml
