db/
vendor/
web/bundles/
bin/
core
.idea/  
.web-server-pid
var/data/data.sqlite
web/build/
node_modules/
yarn-error.log
yarn.lock
var/bootstrap.php.cache
composer.lock
supervisord.log
supervisord.pid
web/front/assets/js/assets.js
piwik/
.travis.yml
