
<section id="social_networks" class="content row container">
    <div class="row">
        <h2><span class="glyphicon glyphicon-console" aria-hidden="true"></span> Réseaux sociaux</h2>
    </div>
    <div class="row">
        <ul class="col-xs-12 col-md-6">
            <li><a href="https://fr.linkedin.com/in/thomas-henon-773b94b3" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
            <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i> Télégram</a></li>
            <li><a href="https://github.com/tounefr" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a></li>
            <li><a href="https://twitter.com/tounefr" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
        </ul>
        <ul class="col-xs-12 col-md-6">
            <li><a href="https://hostux.social/@tounefr" target="_blank"><i class="fa fa-share-square-o" aria-hidden="true"></i> Mastodon</a></li>
            <li><a target="_blank" href="https://keybase.io/tounefr/pgp_keys.asc?fingerprint=b58c5f336ef2ce39af107b2e927c823f25b3b8f8"><i class="fa fa-key" aria-hidden="true"></i> Clé PGP</a></li>
            <li><a href="mailto:contact@toune.fr"><i class="fa fa-rss" aria-hidden="true"></i> Flux RSS</a></li>
            <li><a href="mailto:contact@toune.fr"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a></li>
        </ul>
    </div>
</section>