{% extends 'layout.html.twig' %}

{% block page_title %}Curriculum Vitae{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" media="print" href="/bundles/app/css/cv_printer.css" />
{% endblock %}

{% block body %}

<div id="cv">

    <div class="alert alert-info" role="alert"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Je suis à la recherche d'une alternance à partir de Septembre 2017 !</div>

    <section id="cv_presentation" class="content row container">
        <h2><span class="glyphicon glyphicon-console" aria-hidden="true"></span> Curriculum Vitae</h2>
        <p>
            <div class="row">
                <div class="col-md-9 cv_pres_left">
                    <ul>
                        <li><span class="cv_my_name">Thomas HENON</span></li>
                        <li><span class="cv_my_age">20 ans</span></li>
                        <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Strasbourg, France</li>
                        <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> contact@thomas-henon.fr</li>
                        <li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> 06 95 42 48 63</li>
                        <li><span class="glyphicon glyphicon-link" aria-hidden="true"></span> thomas-henon.fr</li>
                        <li><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> <span class="professionnal_status">Situation professionnelle : </span>Etudiant, Freelance</li>
                    </ul>
                </div>
                <div id="img_profil">
                    <img src="/bundles/app/images/profil.png" alt="Thomas HENON" />
                </div>
            </div>
            <a class="print_link text-center" href="/bundles/app/files/thomas-henon-CV.pdf"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Version PDF</a>
        </p>
    </section>

    <section id="cv_skills" class="content row container">
        <h2><span class="glyphicon glyphicon-console" aria-hidden="true"></span> Compétences</h2>
        <p>
            <div class="col-md-9">
                <div class="row cv_skills_container">
                    <div class="col-md-4">
                        <h3><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> <span class="text-underline">Développement web</span></h3>
                        <ul>
                            <li>PHP: Symfony3</li>
                            <li>HTML5/CSS3: Bootstrap</li>
                            <li>JavaScript: JQuery, VueJS</li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <h3><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> <span class="text-underline">Administration système/réseaux</span></h3>
                        <ul>
                            <li>Docker Engine/Swarm/Machine</li>
                            <li>Ansible</li>
                            <li>Intégration continue</li>
                            <li>Proxmox</li>
                        </ul>
                    </div>
                </div>
                <div class="row cv_skills_container">
                    <div class="col-md-4">
                        <h3><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> <span class="text-underline">Programmation système</span></h3>
                        <ul>
                            <li>Langage C</li>
                            <li>Python3</li>
                            <li>Bash</li>
                        </ul>
                    </div>
                    <div class="col-md-8">
                        <h3><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> <span class="text-underline">Gestion de projets</span></h3>
                        <ul>
                            <li>Git</li>
                            <li>Méthode agile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </p>
    </section>

    <section id="cv_formations" class="content row container">
        <h2><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Formations</h2>
        <p>
        <ul>
            <li>
                <time class="text-right">2015 à Aujourd'hui</time>
                <div><h3>Epitech</h3>: promotion 2020</div>
                <p>
                    <ul>
                        <li>Option Architecte Système Réseau et Sécurité</li>
                        <li>En troisième année à Strasbourg</li>
                    </ul>
                </p>
            </li>
            <li>
                <time class="text-right">2013 à 2015</time>
                <div><h3>Baccalauréat</h3></div>
                <p>
                    <ul>
                        <li>Lycée Jean Jacques Henner</li>
                        <li>STI2D (Sciences et Technologies de l'Industrie et du Développement Durable)</li>
                        <li>Mention assez bien</li>
                    </ul>
                </p>
            </li>
        </ul>
        </p>
    </section>

    <section id="cv_experiences" class="content row container">
        <h2><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Expériences professionnelles</h2>
        <p>
        <ul>
            <li>
                <time class="text-right">Juillet-Décembre 2016</time>
                <div><h3>WideVOIP</h3>: Stage + CDD</div>
                <p>
                    <ul>
                        <li>Opérateur télécom</li>
                        <li>Migration de version du framework CodeIgniter</li>
                        <li>Développement d'une interface de portabilité des numéros fixes (MOP v3)</li>
            <li>Maintenance de l'interface client (ERP)<span style="display: none"> : corrections de bugs, développement de nouvelles fonctionnalités (mailing list), code refactor.</span></li>
                        <li>Mise en place d'une intégration continue</li>
                        <li>Technologies utilisées : PHP5, MVC, MySQL, intégration continue Gitlab, Git, Docker</li>
                    </ul>
                <div><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="https://www.widevoip.com/" target="_blank">https://www.widevoip.com/</a></div>
                </p>
            </li>
            <li>
                <time class="text-right">Janvier 2012</time>
                <div><h3>New-Web</h3>: Stage de découverte</div>
                <p>
                    <ul>
                        <li>SSII</li>
                        <li>Dépannage informatique hardware pour particuliers / traitement de données.</li>
                    </ul>
                    <div><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="http://new-web.fr/" target="_blank">http://new-web.fr/</a></div>
                </p>
            </li>
            <li>
                <time class="text-right">Janvier 2012</time>
                <div><h3>Ingénierie des Voiries et des Réseaux (IVR)</h3>: Stage de découverte</div>
                <p>
                    <ul>
                        <li></li>
                        <li>Découverte de la conception de voiries et réseaux dans les travaux publics.</li>
                    </ul>
                    <div><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="http://ivr68.fr/" target="_blank">http://ivr68.fr/</a></div>
                </p>
            </li>
        </ul>
        </p>
    </section>

    <section class="content row container">
        <div id="cv_social" class="col-md-4">
            <h2><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Social</h2>
            <p>
                <ul>
                    <li><i class="fa fa-github" aria-hidden="true"></i> Github: tounefr</li>
                    <li><i class="fa fa-twitter" aria-hidden="true"></i> Twitter: @Tounefr</li>
                </ul>
            </p>
        </div>
        <div id="cv_languages" class="col-md-4">
            <h2><i class="fa fa-language" aria-hidden="true"></i> Langues</h2>
            <p>
                <ul>
                    <li>Anglais: 795 TOEIC</li>
                    <li>Espagnol: notions</li>
                    <li>Français: langue natale</li>
                </ul>
            </p>
        </div>
        <div id="cv_hobbies" class="col-md-4">
            <h2><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Loisirs</h2>
            <p>Escalade, Musique</p>
        </div>
    </section>


</div>

{% endblock %}
