@font-face {
    font-family: 'Slabo 27px';
    font-style: normal;
    font-weight: 400;
    src: local('Slabo 27px'), local('Slabo27px-Regular'), url(https://fonts.gstatic.com/s/slabo27px/v3/LfR9_S_HMdQ73mwIHBRxoSEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Slabo 27px';
    font-style: normal;
    font-weight: 400;
    src: local('Slabo 27px'), local('Slabo27px-Regular'), url(https://fonts.gstatic.com/s/slabo27px/v3/PuwvqkdbcqU-fCZ9Ed-b7fk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

a,a:hover {
    color: #fff
}

.panel,body {
    font-family: Courier
}

.content h2,.content h4,.navbar-nav,.panel-heading {
    text-transform: uppercase
}

.content h4,.terminal-row-ahead,a:hover {
    font-weight: 700
}

#overlay,#popup {
    position: fixed
}

.terminal-row-content a,a:hover {
    text-decoration: underline
}

body {
    /* height: 100%; */
    background-color: #282828;
    color: #DDD;
    /* margin-bottom: 5% */
    margin-bottom:  0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

::-webkit-scrollbar {
    width: 12px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(95, 89, 89, .8);
    -webkit-border-radius: 10px;
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(95, 89, 89, .8);
    -webkit-box-shadow: inset 0 0 6px rgba(95, 89, 89, .8)
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(95, 89, 89, .8)
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink .7s infinite;
    -moz-animation: blink .7s infinite;
    animation: blink .7s infinite
}

@keyframes "blink" {
    0%,100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-webkit-keyframes "blink" {
    0%,100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@-moz-keyframes "blink" {
    0%,100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

footer {
    min-height: 50px;
    border-top: 1px solid #1B4159;
    background-color: #192730;
    box-shadow: 0 1px 0 #1B4159;
    display: flex;
    align-items: center;
    right: 0;
    justify-content: center;
    margin-top: 20px;
}

.container {
    width: 100%;
    margin: auto;
    margin-right: auto;
    /* min-height: 100px; */
}

.navbar-nav li:hover {
    background-color: #FFF
}

.navbar-default .navbar-brand {
    color: #FFF;
    text-align: center
}

.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover,.navbar-default .navbar-nav>li>a {
    color: #FFF
}

.navbar {
    background-color: #192730;
    border: 0;
    box-shadow: 0 1px 0 #1B4159
}

.form-group button,.form-group textarea,input {
    border-radius: 0
}

.terminal-row {
    text-align: justify
}

.nav li a img {
    margin-top: 0;
    height: 20px;
    width: 20px
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover {
    color: #000
}

.navbar-default .navbar-toggle,.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover {
    background-color: #FFF
}

.form-group input,.form-group textarea {
    border-radius: 0;
    color: #fff
}

form .btn {
    background-color: #353030;
    color: #fff
}

.panel-default>.panel-heading,.panel-heading {
    background-color: #282828
}

.panel-heading {
    color: #ECECEC
}

.panel-date {
    color: #fff
}

.panel-heading>h3 {
    font-size: 1.8em;
    padding: 0;
    margin: 0;
    font-weight: 700
}

.panel {
    background-color: #313131;
    text-align: justify
}

.content h2 {
    width: 100%;
    /* border-bottom: 1px solid #D2BEBE; */
    margin-bottom: 20px;
    font-size: 2em;
    margin-bottom: 10px;
}

.content {
    font-size: 0.9em
}

.content h3 {
    font-size: 1.3em;
    display: inline-block;
}

.content h2 {}

form {
    margin: 0
}

.content {
    background-color: #252525;
    margin-bottom: 1%;
    /* padding: 1em; */
}

.content .panel {
    margin: 15px
}

.color-admin {
    color: #7F8A78
}

.media,.terminal-row-ahead {
    text-align: center
}

.media-heading {
    margin-top: 8%
}

.pagination>li>a,.pagination>li>span {
    background-color: #313131;
    color: #fff
}

#skills .active,#skills .alert {
    background-color: #192730;
    border: 1px solid #1B4159
}

.pagination {
    margin-left: auto;
    margin-right: auto
}

#skills .alert .alert-link {
    color: #fff
}

#skills .active {
    cursor: pointer
}

#skills img {
    margin: 0;
    padding: 5px;
}

.form-control,.form-control[disabled] {
    background-color: #3A3333
}

#terminal-input .terminal-row-ahead {
    padding-top: .5em
}

#overlay {
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    outline: rgba(0, 0, 0, .5) solid 9999px;
    z-index: 10
}

#popup {
    top: 10%;
    left: 35%;
    width: 30%;
    height: 300px;
    background-color: #fff;
    opacity: 1
}

#content {
    /* padding: 1em; */
    /* width: 80%; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.terminal-row-content {
    font-size: 1.2em
}

.content {
    font-size: 1em;
}

@media only screen and (max-width: 480px) {
    #cv {
        font-size:0.8em
    }

    .terminal-row-content {
        padding: 3em
    }
}

#cv ul {
    padding-left: 2em;
}

#cv ul li {
    list-style: square;
    padding-bottom: 8px;
    font-size: 1.1em;
    line-height: 1.1em;
}

.cv_my_name {
    font-weight: bold;
    font-size: 1.5em
}

.print_link {
    display: block;
}

#img_profil img {
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 100px;
}

#img_profil a {
    margin-top: 1em;
}

.cv_my_age {
    display: block;
    margin-bottom: 10px
}

.cv_padding {
    padding-right: 10px
}

#cv ul li span[class="glyphicon"] {
    padding-right: 10px
}

.text-underline {
    text-decoration: underline
}

.text-weight {
    font-weight: bold
}

#cv_formations h3 {
    padding-top: 0;
    margin-top: 0
}

#cv_formations ul li,#cv_experiences ul li {
    /* margin-bottom: 30px; */
    /* box-shadow: 1px 1px */
}

#cv_hobbies ul li {
    list-style: square
}

select {
    color: #ffffff;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.read_article, .date_article {
    display: block;
    font-weight: bold;
}

.read_article {
    margin-top: 10px;
}

.article_content {
    /* padding: 1em; */
}

.breadcrumb {
    background-color: #282828;
    text-transform: uppercase;
}

.breadcrumb li.active {
    color: #fff;
}

.posted_by, .article_category {
    display: inline-block;
}

#contact ul {
    list-style: none;
}

#blog nav h3 {
    font-size: 23px;
    text-transform: uppercase;
    border-bottom: 1px solid #D2BEBE;
    margin-bottom: 20px;
    display: block;
}

footer .navbar {
    margin-bottom: 0;
}

#about p {
    font-size: 1.3em;
    line-height: 2em;
}

body ul li {
    list-style: none;
}

#blog nav > .row {
    margin-bottom: 10px;
}

ul {
    /* padding: 5px; */
}

#blog {
    padding-left: 0;
    padding-right: 0;
}

#blog > div > div.col-md-8 {
    padding: 0;
}

#content > footer > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

body > footer > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
}

body > footer > ul > a {
    height: 40px;
}

body > footer > ul > a > li {
    min-height: 30px;
    margin-bottom: 5px;
    text-align: center;
}

body > footer > ul > a > li:hover {
    background-color: #23527c;
}
body > footer > ul > a > li {
    display: flex;
    align-items: center;
}

body > footer > ul > a > li > i,img {
    margin-right: 5px;
}

body > footer > ul {
}

#article_comments {
    margin-top: 2em;
    margin-bottom: 2em;
}

.posted_by a, .article_category a {
    font-weight: bold;
}

#blog section article {
    padding: 0.5em; */
}

#article_social_links {
    margin: 0.5em;
}

article hr {
    border-top: 1px solid #D2BEBE;
}

time.date_article {
    display: block;
}

#article_comments h4 {
    display: inline-block;
}

.comment_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#article_comments .content p {
    word-break: break-all;
}

.comment_head h4 {
    word-break: break-all;
}

.breadcrumb li {
}

footer ul a {}

footer ul {
    display: inline-block;
    padding: 0;
    padding: 0;
}

#blog { width: 80%; }

#blog article .thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.article_thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#cv_hobbies p {
    font-size: 1.3em;
}

#cv time {
    display: block;
    margin-bottom: 5px;
}

#cv_experiences > ul > li {
    padding-right: 0.5em;
}

#cv_experiences > ul > li > p {
    font-size: 0.8em;
}

#cv .alert {
    font-weight: bold;
    text-align: center;
    background-color: #353535;
    color: #DDD;
    border: 1px solid #252525;
}

.cv_print {
    /* display: block; */
}

#cv h3 {
    margin: 0;
}

#cv h3 {
    text-transform: uppercase;
}

#cv ul ul {
    margin: 0;
    padding: 0;
}

#cv_experiences ul ul {
}

#cv_experiences p {
}

#cv_skills h3 {
    margin-bottom: 10px;
}

#cv_experiences > ul > li, #cv_formations > ul > li {
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
}

#about {
    width: 80%;
    display: block;
    margin: auto;
}

.delim {
    height: 1px;
    background-color: #fff;
}

footer ul a {
}

@media screen and (max-width: 600px) {
    #blog {width: 100%;}

    #about { width: 100%}
    
    .blog_dates {
        margin-top: 5px;
    }

}


.blog_dates {
}

#topnav {
}

#cv_experiences > ul > li > ul > li, #cv_formations > ul > li > ul > li {
    font-size: 1em;
    list-style: inherit;
    margin-left: 15px;
}

#cv_experiences > ul > li > ul > li:nth-child(1), #cv_formations > ul > li > ul > li:nth-child(1) {
    font-size: 1.1em;
    list-style: none;
}

#about h3 {
    display: block;
    font-size: 1.8em;
    font-weight: bold;
}

#about ul a li {
    font-size: 1.3em;
}

article {/* word-break: break-all; */}

#social_networks {}

#social_networks {
    margin: auto;
}

#social_networks {
    display: block;
    margin: auto;
    font-size: 1.1em;
}

.alert {
    text-align: center;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    margin: 0;
    t: 0;
}

.beer_please {
    font-size: 0.9em;
}

.article_content p {word-break: break-all;}

.btn_donation {
    word-break: break-all;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #4e3f3f;
    border-color: #dddddd;
    font-weight: bold;
}

#rss_subscribe i {display: block;margin: auto;}

.no-margin {
    margin: 0;
    padding: 0;
}

section.container {
    padding: 15px;
    padding-top: 5px;
}
#about #last_articles ul {
    padding: 0;
    margin: 0;
}

#about #last_articles ul li {
    padding: 0.1em;
    font-size: 16px;
}
