{% extends 'layout.html.twig' %}

{% block page_title %}A propos{% endblock %}

{% block body %}
    <div id="about">

        <div class="row">
            <div class="col-xs-12">
                <section class="content container">
                    <article>
                        <h2 class="row">
                            <span class="glyphicon glyphicon-console" aria-hidden="true"></span> A propos
                        </h2>

                        <h3 class="text-center">Hello</h3>
                        <p class="row article_content text-center">
                            Je suis <strong>Thomas HENON</strong> alias <strong>Toune</strong>,<br /> je vis en France sur Strasbourg.<br />
                            Je m'intéresse à la sécurité informatique, les systèmes et réseaux, ainsi que le développement.<br />
                            Sur ce site personnel, je partage diverses astuces et bouts de code qui peuvent sans doutes vous être utile.<br/>
                        </p>
                        <p class="text-center" style="display: none;">
                            <i class="fa fa-beer" aria-hidden="true"></i><br />
                            Si je vous ai rendu service par l'intermédiaire de ce blog, vous pouvez toujours me remercier en me payant une bière:<br />
                            <a class="btn_donation" href="https://blockchain.info/address/17pVm7TyRcPyNnQUr4iAWaZbvisPtSJgKW" target="_blank"><i class="fa fa-btc" aria-hidden="true"></i> Faire un don: 17pVm7TyRcPyNnQUr4iAWaZbvisPtSJgKW</a>
                        </p>
                    </article>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12">
                {% include 'contact/social_networks.html.twig' %}
            </div>
            <div class="col-md-6 col-xs-12">
                <section id="last_articles" class="content container">
                    <article>
                        <h2 class="row">
                            <span class="glyphicon glyphicon-console" aria-hidden="true"></span> Derniers articles
                        </h2>
                        <div class="row">
                            <ul>
                                {%  for article in lastArticles %}
                                    <li>
                                        <a href="{{ path('article_show', { 'id': article.id, 'slug': article.slug }) }}">{{ article.title }}</a>
                                        <time>{{  article.date|date('d/m/Y') }}</time>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </article>
                </section>
            </div>
        </div>

    </div>

{% endblock %}
