{% extends 'layout.html.twig' %}

{% block page_title %}Contact{% endblock %}

{% block body %}
    <section id="contact" class="content row container">
        <h2><span class="glyphicon glyphicon-console" aria-hidden="true"></span> Contact</h2>
        <p>Vous recevrez une réponse dans les 24h.</p>
        <br />
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" name="form-submit" class="btn btn-default"><span class="glyphicon glyphicon-send" aria-hidden="true">  Valider</button>
        {{ form_end(form) }}
    </section>
{% endblock %}
